@{
    ViewData["Title"] = "Index";
}
    <h1>MusicStore</h1>
    <p>Todos tus discos favoritos aca...xd</p>
    @foreach(Disco disco in ViewBag.Discos.Values){
            <div>
            <h3>@disco.nombre</h3>
            <img src=@disco.foto alt="album portada foto">
            <ul>
             <li>Artista: @disco.artista</li>
             <li>Genero: @disco.genero</li>
             <li>Productor: @disco.productor</li>
            </ul>
            <a href='@Url.Action("mostrarDiscos", "Home", new {ID = disco.ID})' >Ver disco completo</a>
            </div>    
    }